.container {
  display: grid;
  height: 100vh;
  grid-template-rows: minmax(90px, 10%) 60% 30%;
  box-sizing: border-box;
}
.main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.textqd {
  font-size: 70px;
  font-weight: bold;
  color: black;
}
.bthome {
  left: 30px;
  position: absolute;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #eee;
}
button.Btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
}
button.Btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.mgbtn {
  margin-left: -0.4em;
  margin-bottom: -0.5em;
}
.main2 {
  overflow: hidden;
}
.scrollmain {
  height: 60vh;
  overflow: scroll;
}
.scrollmain::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollmain::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.scrollmain::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.table {
  width: 100%;
  min-width: 620px;
}
td {
  text-align: center;
}
.imgmenu {
  width: 100px;
  height: 100px;
  border-radius: 1.5em;
}
.selectmenu {
  padding: 2px;
  border-radius: 8px;
  border: 1px solid #ceced4;
}
.mgbtnshop {
  padding-top: 5px;
}

.main3 {
  /* padding: 0.5em; */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.card {
  display: grid;
  grid-template-rows: 55px 160px minmax(50px, auto);
}
.textcard1 {
  border-bottom: 1px solid #ceced4;
  color: #63656b;
}
.textcard1 p {
  margin-left: 1em;
}
.textcard2 {
  overflow:scroll;
}
.tablecard {
  width: 100%;
}
.textcard2::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.textcard2::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.textcard2::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.textcard3 {
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-top: 1px solid #ceced4;

}


